.TableScroller {
	overflow-y: scroll;
  height: 400px

}
.TableScroller table {
  font-family: Helvetica, Arial;
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;

}

.TableScroller td {
  max-width: 20px;
  height: 40px;
  border-bottom: solid 1px #aaa;
}

.TableScroller .player {
  width: 160px;
 }

